.App {
  text-align: center;
  background-color: rgb(189, 243, 236);

}
img {
  min-width: 100vw;
  max-height: 750px;
  border: 4px solid rgb(51, 245, 196);
}
.background {
background-color: blueviolet;

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

